@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightsteelblue;
}

#titulo-principal {
    background-color:#293336;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.sessão {
    color: #385861;
    margin: 10px 0px 10px 5px;
}

.basico {
    color: #3A7A8C;
}

.intermediario {
    color: #12B4E0;
}

.avancado {
    color: #2D98B5;
}

abbr {
    text-decoration: none;
}

.sub {
    margin-left: 5px;
}

p {
    text-indent: 15px;
    line-height: 1.5em;
}

abbr[title="hiper text markup language"]:hover {
    text-decoration: underline;
}   