@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#content_top {
    display: inline-block;
    width: 100%;
}

.child_aside_top {
    display: inline-block;
    
}

#div_1 {
    margin-left: 10px;
}

abbr {
    text-decoration: none;
}

#div_2 {
    margin-left: 50px;
}

header {
    background-image: linear-gradient(to right, rgb(225, 151, 15),rgb(219, 153, 32),rgb(211, 163, 75));
    padding: 10px;
    margin-top: 10px;
}

.child_header {
    display: inline-block;
}

#div_right {
    width: 50%;
    max-width: 1000px;
    text-align: center;
}

#div_right img {
    border-radius: 700px;
}

#div_left a {
    text-decoration: none;
    color: white;
    margin-left: 5px;
}

#div_left a:hover {
    text-decoration: underline;
}

main {
    margin-top: 15px;
}

.child_main {
    display: inline-block;
}

.child_main {
    margin-top: 10px;
    margin-left: 10px;
    height: 400px;
    width: 400px;
    background-color: lightgray;
    border-radius: 20px;
}

#content_left {
    width: 50%;
}

#content_right {
    width: 45%;
}

#content_left_bottom {
    display: inline-block;
    width: 45%;
}

#content_right_bottom {
    width: 50%;
}